.blog-section {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.nice-scroll {
    height: 100%;
    overflow-x: hidden;
}

.blog-grid-warp {
    margin-left: -5px;
    margin-right: -5px;
    width: 100%;
    height: 100%;
    /* flex-direction: row; */
}

.blog-grid-sizer {
    /* width: 25%; */
}

.blog-grid {
    padding: 0 5px;
    margin-bottom: 10px;
    /* width: 25%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.blog-item {
    position: relative;
    margin-bottom: 10px;
    height: min-content;
}

.blog-item img {
    min-width: 100%;
}

.blog-item .bi-tag {
    position: absolute;
    top: 30px;
    left: 30px;
    display: inline-block;
    padding: 4px 20px;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #2916e0;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px;
    background: #fff;
}

.blog-item .bi-text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 30px;
    padding-right: 20px;
    z-index: 99;
}

.blog-item .bi-text .bi-date {
    font-size: 13px;
    color: #fff;
    margin-bottom: 10px;
}

.blog-item .bi-text h3 {
    font-size: 20px;
    padding-bottom: 25px;
    color: #fff;
    line-height: 1.6;
}

.blog-item .bi-text h3 a {
    color: #fff;
}

.blog-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 94%);
}

.blog-grid #fone {
    grid-area: 1/1/2/2;
}

.blog-grid #biscoitos {
    grid-area: 2/1/3/2;
}

.blog-grid #maos {
    grid-area: 0/0/0/0;
}

.blog-grid #megafone {
    grid-area: 0/0/0/0;
}

.blog-grid #trabalhador {
    grid-area: 0/0/0/0;
}

.blog-grid #mulher {
    grid-area: 0/0/0/0;
}

.blog-grid #pazAmor {
    grid-area: 0/0/0/0;
}

.blog-grid #agua {
    grid-area: 0/0/0/0;
}

.blog-grid #calango {
    grid-area: 0/0/0/0;
}

.blog-grid #cachorro {
    grid-area: 0/0/0/0;
}

.blog-grid #laranja {
    grid-area: 0/0/0/0;
}

.blog-grid #suco {
    grid-area: 0/0/0/0;
}

.blog-grid #praia {
    grid-area: 0/0/0/0;
}

.blog-grid #pimentao {
    grid-area: 0/0/0/0;
}

.blog-grid #mulher {
    grid-area: 0/0/0/0;
}