:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap");

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    height: 100dvh;
    width: 100dvw;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

input:focus,
button:focus,
textarea:focus {
    outline: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

p {
    font-size: 15px;
    color: #636363;
    line-height: 1.8;
    margin-top: 0;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #252525;
    font-weight: 600;
    margin-bottom: .5rem;
    line-height: 1.2;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

/* MENU */

body {
    padding-left: 90px;
}

.menu-wrapper {
    position: fixed;
    width: 90px;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
    z-index: 999;
    transition: 0.4s;
}

.menu-switch {
    width: 100%;
    height: 90px;
    padding-top: 23px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: #0f0f0f;
    cursor: pointer;
}

.menu-switch input {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 85px;
    opacity: 0;
    z-index: 9999;
    cursor: pointer;
}

.side-menu-wrapper {
    position: fixed;
    width: 270px;
    height: 100%;
    left: -280px;
    top: 0;
    overflow-y: auto;
    box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    z-index: 999;
    opacity: 0;
    transition: 0.3s;
}

.menu-switch input:checked~.side-menu-wrapper {
    left: 0;
    opacity: 1;
}

.side-menu-wrapper .sm-header {
    display: flex;
}

.menu-close {
    width: 90px;
    height: 90px;
    padding-top: 23px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: #0f0f0f;
    cursor: pointer;
}

.site-logo {
    background: #2916e0;
    width: calc(100% - 90px);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.main-menu {
    height: calc(100% - 160px);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.main-menu ul {
    list-style: none;
    text-align: center;
}

.main-menu ul li {
    display: block;
    margin-bottom: 20px;
}

.main-menu ul li a {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #b2b2b2;
    transition: 0.3s;
}

.main-menu ul li a:hover,
.main-menu ul li a.active {
    color: #2916e0;
}

.sm-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0 15px;
}

.sm-footer .sm-socail a {
    display: inline-block;
    font-size: 18px;
    color: #b2b2b2;
    margin-right: 30px;
    margin-bottom: 10px;
}

.sm-footer .sm-socail a:last-child {
    margin-right: 0;
}

.copyright-text {
    font-size: 16px;
    font-weight: 500;
    color: #b2b2b2;
    padding-bottom: 40px;
}

.copyright-text i {
    color: #e21010;
}

.copyright-text a {
    color: #b2b2b2;
}

.copyright-text a:hover {
    color: #2916e0;
}

.menu-social-warp {
    height: calc(100% - 90px);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.menu-social a {
    display: block;
    font-size: 18px;
    color: #252525;
    margin-bottom: 50px;
}

.menu-social a:last-child {
    margin-bottom: 0;
}