body {
    overflow: hidden;
}

.hero-section {
    height: 100%;
    width: 100%;
    position: relative;
}

.pana-accordion {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.pana-accordion .pana-accordion-wrap {
    margin-left: -1px;
    width: 300%;
    height: 100%;
}

.pana-accordion .pana-accordion-wrap .pana-accordion-item {
    width: 100%;
    height: 200px;
    overflow: hidden;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    background-position: top left -200px;
    transition: background-position 0.4s;
}

.pana-accordion-item,
.hero-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    position: relative;
}

.pana-accordion .pana-accordion-wrap .pana-accordion-item:hover {
    background-position: top center;
}

@keyframes mover {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(368px);
    }
}

.pana-accordion .pana-accordion-wrap .pana-accordion-item:hover~.pana-accordion-item {
    background-position: top left -200px;
    animation: mover 0.4s ease-in-out forwards;
}

.pana-accordion .pana-accordion-wrap .pana-accordion-item:last-child {
    background-position: top center;
}

/* .pana-accordion .pana-accordion-wrap:nth-child(1):hover {
    left: 0px;
}

.pana-accordion .pana-accordion-wrap:nth-child(2):hover {
    left: 180px;
}

.pana-accordion .pana-accordion-wrap:nth-child(3):hover {
    left: 360px;
}

.pana-accordion .pana-accordion-wrap:nth-child(4):hover {
    left: 540px;
}

.pana-accordion .pana-accordion-wrap:nth-child(5):hover {
    left: 720px;
} */

.pana-accordion-item .pa-text,
.hero-item .pa-text {
    padding-left: 40px;
    padding-bottom: 50px;
    position: relative;
    z-index: 5;
    opacity: 0;
    top: -50px;
}

.pana-accordion-item:hover .pa-text,
.hero-item:hover .pa-text {
    opacity: 1;
    top: 0;
    -webkit-transition: all 0.4s ease 0.4s;
    -o-transition: all 0.4s ease 0.4s;
    transition: all 0.4s ease 0.4s;
}

.pana-accordion-item:hover:after,
.hero-item:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8211659664)), color-stop(94%, rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8211659664) 0%, rgba(0, 0, 0, 0) 94%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8211659664) 0%, rgba(0, 0, 0, 0) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.pana-accordion-item .pa-text .pa-tag,
.hero-item .pa-text .pa-tag {
    display: inline-block;
    padding: 4px 20px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #2916e0;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px;
    background: #fff;
}

.pana-accordion-item .pa-text h2,
.hero-item .pa-text h2 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}

.pana-accordion-item .pa-text .pa-author,
.hero-item .pa-text .pa-author {
    overflow: hidden;
}

.pana-accordion-item .pa-text .pa-author img,
.hero-item .pa-text .pa-author img {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}

.pana-accordion-item .pa-text h4,
.hero-item .pa-text h4 {
    font-weight: 600;
    color: #fff;
    padding-top: 15px;
}

.pana-accordion .pana-accordion-wrap .pana-accordion-item .pana-accordion-mask {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    background-color: #000;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4;
}

.pana-accordion .pana-accordion-wrap .pana-accordion-item:hover .pana-accordion-mask {
    display: none
}